@media (max-width: 991.98px) {
    .title{margin-top: 40px}
    .tag{margin-bottom: 0; padding: 30px 0}
    .slide__txt{padding-top: 30px;width: 100%;left: 50%;transform: translateX(0);}
    .slide__txt h1 {margin-bottom: 20px;}
    .slide__txt h3 {margin-bottom: 32px; font-size: 20px !important;}
    .insta__list li, .product__list li {width: calc(50% - 20px);}
    .newslet__txt{margin-bottom: 30px;}     
}

@media (max-width: 767.98px) {
    .blog__list{margin-bottom: 20px;}
}


@media (max-width: 575.99px) {
    h2{font-size: 30px;}
    h3{font-size: 24px;}
    h4{font-size: 20px;}
    .slide__txt{position: static}
    .slide__txt h1, .slide__txt h3{display: none}
    .custom-select,.direct__form{background: #eee}
    .direct__form{margin-bottom: 10px;}
    .section__title::before {margin: 0;}
    .category__content{margin-left: 0; margin-right: 0;}
    .newslet__content {font-size: 18px;}
    .insta__list li, .category__content .category__item, .product__list li {width: 100%; margin: 0 0 20px 0;}
}


/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 800px) {}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px)  and (max-width: 991.98px) {.newslet__btn::before{right: 95px;}}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {}


/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}