
@font-face {
    font-family: 'sofia_prolight';
    src: url('../fonts/sofia/sofia_pro_light-webfont.woff2') format('woff2'),
         url('../fonts/sofia/sofia_pro_light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


/* GLOBAL STYLES ===================================== */
body { color: #000000; font-family: 'sofia_prolight'; font-size: 16px; line-height: 24px; overflow-x: hidden; }
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 { margin-top: 0; font-weight: 600}
h1, .h1 { font-size: 50px !important; margin-bottom: 20px; }
h2, .h2 { font-size: 36px;}
h3, .h3 { font-size: 30px; }
h4, .h4 { font-size: 26px; }
h5, .h5 { font-size: 20px; }
h6, .h6 { font-size: 18px; }
a, a:hover, a:focus { outline: none !important;  text-decoration: none; color:#333;}
a:hover{color: #000;}
ul { margin: 0; padding-left: 0;}
ul li{list-style: none;}
img{width: 100%}

.mar-b-0{margin-bottom: 0;}
.mar-b-60{margin-bottom: 60px;}
.mar-b-30{margin-bottom: 30px;}
.mar-b-10{margin-bottom: 10px;}
.mar-b-20{margin-bottom: 20px;}
.mar-t-30{margin-top: 30px;}
.pad-b-0{padding-bottom:0 !important;}
.pad-l-0{padding-left: 0;}

.flat__txt, a.flat__txt,.flat__txt a{color: #fff;}

/* form */
.btn-round{border: 2px solid #fff; border-radius: 30px !important;}
.form-control, .custom-file-label{border-radius: 0;}
.form-control:focus {background-color: transparent; box-shadow: none;}
.btn{padding: 8px 50px; font-size: 18px;}
.btn.focus, .btn:focus, .custom-file-input:focus {box-shadow: none;}
.btn.white:hover{background: #ffffff; color: #000;}
.btn.black:hover{background: #000; color: #fff;}
.btn.blackfill{background: #000; color: #fff}
.custom-select{border: 0; border-radius: 30px;}
.custom-select:focus{box-shadow: none;}
.side__content .custom-select{border-radius: 0; border-bottom: 1px solid #000}
.custom-file{margin-bottom: 10px !important}
.custom-file-input:lang(en) ~ .custom-file-label::after {display: none;}
.custom-file-label{border: 2px solid #000;}



/* header */
.header{padding: 33px 0; border-bottom: 1px solid #ccc;}
.headerlogo .logo img {width: 195px;}
.logo img{width: 150px;}
.extra__link{text-align: right; margin-bottom: 0;}
.extra__link li{display: inline-block;}
.extra__link li > a {display: block; padding: 15px; font-size: 28px;}

.headerwrap {
	display: flex;
	position: relative;
}
.headerlogo {
	flex-shrink: 0;
	width: 200px;
	transition: all 0.3s ease;
}

.offcanvas-wrap.cartdrawer-active .headerlogo,
.offcanvas-wrap.cartdrawer1-active .headerlogo {
	margin-left: 44px;
}

.headernav {
	display: flex;
	flex-grow: 1;
	justify-content: center;
}
.useroptions {
	flex-shrink: 0;
	width: 240px;
}
.menudrawer-trigger {
	cursor: pointer;
	position: absolute;
	height: 30px;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	width: 30px;
}
.menudrawer-trigger span {
	background-color: #aaaaaa;
	border-radius: 10px;
	height: 3px;
	left: 0;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 100%;
}
.menudrawer-trigger span::before,
.menudrawer-trigger span::after {
	background-color: #aaaaaa;
	border-radius: 10px;
	content: '';
	height: 3px;
	position: absolute;
	width: 100%;
}
.menudrawer-trigger span::before {
	top: -11px;
}
.menudrawer-trigger span::after {
	bottom: -11px;
}
@media screen and (min-width: 1170px) {
	.menudrawer-trigger {
		overflow: hidden;
		width: 0;
	}
	.offcanvas-wrap.cartdrawer-active .menudrawer-trigger,
	.offcanvas-wrap.cartdrawer1-active .menudrawer-trigger {
		width: 34px;
	}
}
@media screen and (max-width: 1169.98px) {
	.headerwrap {
		justify-content: space-between;
	}
	.headerlogo {
		margin-left: 44px;
	}
	.headernav {
		display: none;
	}
}
@media screen and (max-width: 575.98px) {
	.headerlogo,
	.useroptions {
		flex-shrink: 1;
	}
	.headerlogo {
		width: 140px;
	}
	.useroptions {
		width: 200px;
	}
	.extra__link li > a {
		padding: 0 0.3rem;
	}
	
}


/* navigation */
.navbar-toggler{background: #000; border-radius: 0;}
.nav-link{font-weight: 500; font-size: 18px;}
.navbar-expand-lg .navbar-nav .nav-link{ padding-right: 0; padding-left: 0; margin: 0 15px;}
a.nav-link, .title{position: relative;}
.nav-hover li > a:hover::before, 
.nav-hover li.active > a::before, 
.title::before, 

.nav-hover li > a::before, .cat__title::before{
	position: absolute;top: 100%; left: 0; width: 100%; height: 1px; background: #000000; content: ''; opacity: 0;
	-webkit-transition: height 0.3s, opacity 0.3s, -webkit-transform 0.3s;
	-moz-transition: height 0.3s, opacity 0.3s, -moz-transform 0.3s;
	transition: height 0.3s, opacity 0.3s, transform 0.3s;
	-webkit-transform: translateY(-10px);
	-moz-transform: translateY(-10px);
	transform: translateY(-10px);
}
.navbar-expand-lg .navbar-nav .dropdown-menu{background: rgba(0,0,0,0.85); border-radius: 0;}
.dropdown-item{color: #fff; font-size: 14px;}

.dropdown-toggle::after {display: inline-block; margin-left: .255em; vertical-align: middele; content: "\e64b";
	border-top: 0;border-right: 0; border-bottom: 0; border-left: 0; font-family: 'themify'; font-size: 10px;
}
.nav-item.show .dropdown-toggle::after{content: "\e648"}

.list-unstyled  li.nav-item {
    width: 50%;
	float: left;
	font-size: 14px;
}
.list-unstyled  li.nav-item a{padding: 15px 0}

.list-unstyled li.nav-item a{margin: 0 !important;}


/* slider*/
.owl-carousel .item{position: relative;}
.slider .owl-nav{ color: #fff;}
.slider .owl-theme .owl-nav [class*="owl-"]:hover {background: rgba(255,255,255,0.5); z-index: 3}
.owl-theme .owl-nav button.owl-next{right: 20px}
.owl-theme .owl-nav button.owl-prev{left:20px}
.owl-carousel .owl-nav button.owl-next, 
.owl-carousel .owl-nav button.owl-prev{height: 40px; width: 40px; line-height:40px; text-align: center; 
	border-radius: 50%; font-size: 36px !important;}
.owl-theme .owl-dots {position: absolute;left: 50%; bottom: -5px; transform: translateX(-50%);}
.owl-theme .owl-dots .owl-dot span {border: 2px solid #fff; margin: 5px 4px;}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {background: #fff;}
.owl-theme .owl-dots .owl-dot span {background: none;}
.owl-theme .owl-nav{margin-top: 0;}


.banner__content{padding-bottom: 0 !important;}
.banner__content h1{margin-bottom: 40px; font-size: 58px !important; font-weight: 600;}
.banner__content p{margin-bottom: 24px; font-size: 26px; line-height: 40px;}
.banner__content  h1, .banner__content  p{text-shadow: 0px -1px 2px rgba(0,0,0,0.5);}
.banner__content  .btn{font-size: 20px}
.banner__form{padding: 0 10px; position: absolute; bottom: 24%; left: 50%; transform: translateX(-50%); width: 50%; z-index: 6;}

.tag{background: #000000; padding: 40px 0; text-align: center; font-size: 25px; line-height: 30px;}
.tag a{text-decoration: underline}
.section, .content{padding: 62px 0;}

/* split section */
.split__content{text-align: center; margin-bottom: 30px;}
.title{position: relative; padding-bottom: 40px; margin-bottom: 40px; margin-top: 70px;}
.split__content .text{padding: 0 15px}
.title::before {
	position: absolute;bottom: 0;left: 50%;width: 173px;height: 2px;background: #ddd;content: '';
	margin: auto;margin-left: auto;text-align: center;margin-left: -102px;
}


/* counter */
.number{font-size: 40px; font-weight:600}
.counter{margin: 50px 0;}
.counter__list{border-bottom: 1px solid #000;padding-bottom: 50px;}
.counter__item{text-align: center}

.blog__img{position: relative;}


/*category*/
.category__content{font-size: 0; margin-left: -10px; margin-right: -10px;}
.category__content .category__item{width: calc(50% - 20px);; float: left;display: flex !important;justify-content: center; margin: 0 10px 10px 10px;}
.category__img, .category__item, .inside__banner{position: relative;}
.category__img{overflow: hidden; margin-bottom: 10px;}
.category__img .overlay{ background: rgba(255,255,255,0.2);}
.overlay{position: absolute; left: 0; right: 0; top: 0; background: rgba(0,0,0,0.2); height: 100%; z-index: 4;}
.category .cat__title, .banner__content{position: absolute; top: 50%; left: 50%; z-index: 5; padding-bottom: 30px;width: auto; transform: translate(-50%, -50%); text-align: center}
.cat__title{position: relative; display: inline-block;}
.category .cat__title{font-size: 50px;}
.cat__title::before{background: #ffffff}
.category__item:hover .category__img img{transform: scale(1.2); transition: all 0.5s ease;}
.category__item:hover 
.cat__title::before{height: 2px; opacity: 1; -webkit-transform: translateY(0px); -moz-transform: translateY(0px);
	transform: translateY(0px);
}


.product__list{margin-left: -10px; margin-right: -10px}
.product__list li, .photos__list li{width: calc(25% - 20px); float: left; display: flex !important;
	justify-content: center; margin: 0 10px 30px 10px; overflow: hidden;}
.product  .cat__title::before {background: #000;}
.product .category__img{margin-bottom: 10px;}
.buy__product.product__title{height: 104px; max-height: 104px}


.pagetitle {position: relative;text-align: center;margin: 60px 0;}
.pagetitle::before {background-color: #000000;content: '';height: 1px;left: 0;position: absolute;top: 50%;width: 100%;z-index: 0;}
.pagetitle span {background-color: #ffffff;padding-left: 20px;padding-right: 20px;position: relative;}

.section__title{border-bottom: 1px solid#000; padding-bottom: 20px; margin-bottom: 20px;}
.border-bot{border-bottom: 1px solid #aaa; padding-bottom: 20px !important;}
.breadcrumb{background: none; padding: 0 0 10px 0; font-size: 24px;}
.breadcrumb-item + .breadcrumb-item::before {content: ".";}
.breadcrumb-item a{line-height: 40px;}


/* newsletter */
.newslet{background: url(../images/67192703_2933361273402679_4046908395972100670_n@2x.png) no-repeat center center/cover; padding: 30px;}
.newslet__content{background: #fff; font-size: 24px; padding: 35px 0px;}
.form-control{border: 0; border-bottom: 1px solid #000000; padding: 10px 0; background: transparent}
.btn{border-radius: 0;}
.btn-default{border: 2px solid #000;}
.newslet__btn{ line-height: 109px;}


.insta{padding: 0 40px;}
.insta__list{margin-left: -10px; margin-right: -10px; margin-bottom: 18px}
.insta__list li{position: relative; width: calc(20% - 20px); float: left; display: flex !important;
	justify-content: center; margin: 0 10px 20px 10px; overflow: hidden;}
.insta__img{position: relative;}
.insta__img .overlay{background: rgba(255,255,255,0.4); opacity: 0}
.insta__list li:hover .overlay{opacity: 1;}
.insta__content{position: absolute; z-index: 5; bottom: -130px; opacity: 0; transition: all 0.5s ease;}
.insta__list li:hover .insta__content{opacity: 1; bottom: 50%; transform: translateY(50%)}
.insta__content .btn-default{border-color: #fff; color: #ffffff; padding: 8px 26px; border-width: 2px}
.insta__content .icon{background: #ffffff;height: 60px;width: 60px;border-radius: 50%;display: block; line-height: 60px;
	text-align: center;font-size: 35px;color: #aaa; margin-bottom: 20px; margin-left: auto; margin-right: auto}
.icon:hover{color: #fff;}
.insta__content .icon:hover{color: #000;}


/*footer */
.footer{background: #000; color: #aaa; padding: 50px 0}
.footer h6{font-weight: 600;}
.footer__newslet{margin-bottom: 30px}
.footer .footer__link a:hover, .list-unstyled .nav-item:hover a{color: #d5b754}
.footer .form-control{border-bottom: 1px solid #eeeeee;}
.icon{height: 35px; width: 35px; line-height: 35px; border-radius: 50%; text-align: center; background: #a2a2a2; display: inline-block; color: #000;}
.footer .btn{padding: 5px 30px;}
.social__media a{font-size: 18px; margin-right: 10px;}


/*scroller*/
.scrollup {width: 40px;height: 40px;line-height: 40px;text-align: center;bottom: 55px;position: fixed;right: 20px;background: rgba(0,0,0,0.1);
	color: #fff;border-radius: 50%;cursor: pointer;font-size: 18px;}

	
/*search*/
.extra__link{position: relative;}
.search__tab {position: absolute;left: 0;/* margin-top: 15px;*/ bottom: 13px;}
.search {width: 30px;height: 32px;line-height: 10px;position: relative;overflow: hidden;transition: all 0.5s ease;}
.search__tab.open .search {width: 100%;}
.search__tab.open {width: 100%;}
.search input{border-bottom: 1px solid #000}
.search__tab.open .search:before {height: 60px;margin: 20px 0 20px 30px;position: absolute;}
.search-box {width: 100%;height: 100%;box-shadow: none;border: none;background: #fff;color: #333;/*margin-left:40px;*/font-size: 14px;}
.search__tab.open .search-box{margin-left: 0;}
.search-box:focus {outline: none;}
.search-button {background-color: #ffffff; display: block;position: absolute;right: 0;bottom: -1px;cursor: pointer;font-size: 30px;}
.open .search-icon {margin: 0;width: 60px;height: 60px;border-radius: 60px;}
.input-group-btn{margin-left: 20px;}


.banner{background: url(../images/67192703_2933361273402679_4046908395972100670_n@2x.png) no-repeat center center/cover; padding: 60px 200px; position: relative;}
.banner a{padding: 10px 15px; font-size: 22px; border: 1px solid #000; background: #fff;}
.more{display: block;}
.more a, a.more{display: block;font-size: 20px; transition: all 0.5s ease; padding: 10px 0}
.more:hover .arrow{transform: translateY(20%)}
.direct__form{background: #ffffff; border-radius: 30px;}
.direct__form .btn{ padding: 6px 18px;}


/*pagination*/
.blog .pagination{position: relative;}
.pg__next, .pg__prev{position: absolute; top: -52px; font-size: 14px;}
.pg__prev{left: 0}
.pg__next{right: 0}
.pagination{justify-content: center; margin-top: 30px;}
.page-item a{ padding: 5px;}
.page-link:focus {box-shadow: none;}
.page-link {color: #000;background-color: #fff;border: 0;justify-content: center;}
.page-link:hover {color: #000;background-color: transparent;border-bottom-color: rgb(0, 0, 0);
	border-bottom: 1px solid #000;}

/* accordion */
.btn-link{padding: 0 !important; color: #333; font-size: 18px;}
.btn-link.focus, .btn-link:focus, .btn-link:hover{text-decoration: none}
.card-header h2 span{font-size: 12px; display: inline-block; line-height: 25px;}
.card{border: 0;}
.card-header{background-color: transparent; padding: 10px 0}
.card-header h2{line-height: 0;}
.accordion > .card .card-header{margin-bottom: 0; border-color: #000;}
.list__item a{padding: 3px 0; display: inline-block}
.choice{font-size: 30px;line-height: 108px;}
.alter.choice{line-height: 50px;}

.side__content{margin-bottom: 30px;}

/** image magnifier **/
#gallery_01 img{border:2px solid white;}
#gallery_01 .active img{border:2px solid #333 !important;}
#zoom_03 {width: 100% !important;}
#gallery_01 > a > img {width: 25% !important;width: calc(25% - 4px) !important;}	
#gallery_01{border: 1px solid #ddd;}
	
/* directory listing */
.photos__list li{position: relative}
.photos__list li a.cancel{position: absolute; right: 5px; top: 5px; }
.cancel{background: rgba(255,255,255,0.5); display: inline-block;
	height: 20px; width: 20px; line-height: 20px; border-radius: 50%; text-align: center; font-size: 10px;}
td .cancel{background: #000; color: #fff; font-size: 10px;}

/* owl carouel */
.owl-carousel01.owl-theme .owl-dots{position: absolute; right: 10px; bottom: -5px; transform: none; left:inherit;}

/*contact detail*/
.contact__detail p, .terms{position: relative; padding-left: 30px;}
.contact__detail p i, .terms li:before{position: absolute;left: 0; line-height: 30px;}
.image{text-align: center;}
.terms li::before{content: "\e60a";font-family: 'themify'; font-size: 10px}

.login__form{width: 50%; margin: auto}
.big__icon{font-size: 168px; color: #a2a2a2; display: block;}

#sync1 .item {background: #0c83e7;/* padding: 80px 0px; */margin: 5px;color: #FFF;border-radius: 3px;text-align: center;}
#sync2 .item {background: #C9C9C9;margin: 5px;color: #FFF;border-radius: 3px;text-align: center;cursor: pointer;}
#sync2 .item h1 {font-size: 18px;}
#sync2 .current .item {background: #0c83e7;}

#sync1.owl-theme {position: relative;}
#sync1.owl-theme .owl-next,
#sync1.owl-theme .owl-prev { width: 22px;height: 40px;margin-top: -20px;position: absolute;top: 50%;}
#sync1.owl-theme .owl-prev {left: 10px;}
#sync1.owl-theme .owl-next {right: 10px;}
.owl-carousel .owl-stage {margin: 0 auto;}

  /*table*/
  .table th{border-top: 0;}
  /* .event__form{width: 50%; margin: auto} */
  .event__form .custom-file{width:24%}
  .media img{width: 64px;}
  

  /* mega menu */
  
.megamenu {position: static;}
.megamenu .dropdown-menu {background: none;border: none;width: 100%;}
.megaspace{padding: 30px;}

.slide__menu{position: static; text-align: left}
.slide__in{position: absolute; top: 100%; left: 0; right: 0; background: #000; color: #fff; padding: 20px 15px; z-index: 99}

.cbp-spmenu .table{color: #fff}

.box{border: 1px solid #aaa; padding: 20px}

 /* drawers */
.offcanvas-wrap {
	transition: all 0.3s ease;
  }
  .offcanvas-wrap.cartdrawer-active,
  .offcanvas-wrap.cartdrawer1-active {
	margin-right: 22rem;
  }
  
  .cartdrawer-active .navigation,
  .cartdrawer1-active .navigation{display: none}
  
  .offcanvas-wrap.menudrawer-active {
	margin-left: 22rem;
	
  }
  .menudrawer,
  .cartdrawer,
  .cartdrawer1 {
	background-color: #ecebec;
	bottom: 0;
	position: fixed;
	top: 0;
	transition: all 0.3s ease;
	width: 22rem;
	z-index: 999;
	background: #000000;
	color: #fff;
	padding: 40px 20px;
	font-size: 14px
  }
  .menudrawer {
	left: -22rem;
  }
  .cartdrawer,
  .cartdrawer1 {
	right: -22rem;
  }
  .cartdrawer-active .cartdrawer,
  .cartdrawer1-active .cartdrawer1 {
	right: 0; overflow-y: scroll
  }
  .menudrawer-active .menudrawer {
	left: 0; overflow-y: scroll
  }
  
  .cartdrawer .btn-default{background: #ffffff}
  .cartdrawer .hide, .menudrawer .hide{display: block; height:30px; width: 30px; text-align: center;background: rgba(255, 255, 255, 0.15); line-height: 30px; border-radius: 50%; cursor: pointer;}
  
  /* fix for megamenu */
  .header .container-fluid {
	position: relative;
  }
  .header div[class*="col-"],
  .header .navbar {
	position: inherit;
  }
  
  /* drawers responsive */
  @media screen and (max-width: 767.98px) { 
	.offcanvas-wrap.cartdrawer-active,
	.offcanvas-wrap.cartdrawer1-active {
	  margin-right: 0;
	}
	.offcanvas-wrap.menudrawer-active {
	  margin-left: 0;
	}
  }
  
  /* dropdown menu */
  .mobile__menu ul li a{color: #fff; font-size: 16px;padding: 10px 0; display: block}
  .mobile__menu ul li a:hover{color: burlywood}
  
  .mobile__menu .menu-drop{
	  display: block;
	  background: rgba(255, 255, 255, 0.15);
	  width: 100%;
	  padding: 10px;
  }
  
  .menu-drop ul li > a{color: #ccc;font-size: 16px; padding: 5px; display: block}
  .drp__item > a{position: relative;}
  .drop__item > a::after {display: inline-block; margin-left: .255em; vertical-align: middle; content: "\e64b";
	  border-top: 0;border-right: 0; border-bottom: 0; border-left: 0; font-family: 'themify'; font-size: 10px; margin-left: 15px;
  }
  .mobile__menu .menu-drop { display: none; }

  /* bootstrap select */
  .bootstrap-select > .dropdown-toggle {
    padding: 10px !important;
    background: #fff;
    height: 40px;
	border: 0; border-radius: 35px; color: #555;
}

.caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px dashed;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}

.open > .dropdown-menu {
    display: block;
}

.dropdown-menu > li > a {
	padding: 4px 20px; display: block
}

.dropdown-menu > li > a:hover{background: #000; color: #fff;}

.owl-carousel02 .owl-item:not(.center) .item::before {
	background-color: rgba(255,255,255,0.5);
	content: '';
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}